<div class="container-fluid justify-content-center">
  <div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h3>North Division</h3>
      <table class="table">
        <thead style="color: white; background-color: #003369;">
          <tr>
            <th scope="col">Id#</th>
            <th scope="col">Team Name</th>
            <th scope="col">Conference</th>
            <th scope="col">Division</th>
          </tr>
        </thead>
        <tbody *ngFor="let team of north;">
          <tr>
            <th scope="row">{{ team.id }}</th>
            <td>{{ team.name }} <strong>{{ team.nickname }}</strong></td>
            <td>{{ team.conference }}</td>
            <td>{{ team.division }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h3>South Division</h3>
      <table class="table">
        <thead style="color: white; background-color: #003369;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Team Name</th>
            <th scope="col">Conference</th>
            <th scope="col">Division</th>
          </tr>
        </thead>
        <tbody *ngFor="let team of south">
          <tr>
            <th scope="row">{{ team.id }}</th>
            <td>{{ team.name }} <strong>{{ team.nickname }}</strong></td>
            <td>{{ team.conference }}</td>
            <td>{{ team.division }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h3>East Division</h3>
      <table class="table">
        <thead style="color: white; background-color: #003369;">
          <tr>
            <th scope="col">Id#</th>
            <th scope="col">Team Name</th>
            <th scope="col">Conference</th>
            <th scope="col">Division</th>
          </tr>
        </thead>
        <tbody *ngFor="let team of east">
          <tr>
            <th scope="row">{{ team.id }}</th>
            <td>{{ team.name }} <strong>{{ team.nickname }}</strong></td>
            <td>{{ team.conference }}</td>
            <td>{{ team.division }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h3>West Division</h3>
      <table class="table">
        <thead style="color: white; background-color: #003369;">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Team Name</th>
            <th scope="col">Conference</th>
            <th scope="col">Division</th>
          </tr>
        </thead>
        <tbody *ngFor="let team of west">
          <tr>
            <th scope="row">{{ team.id }}</th>
            <td>{{ team.name }} <strong>{{ team.nickname }}</strong></td>
            <td>{{ team.conference }}</td>
            <td>{{ team.division }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

