<div class="container-fluid justify-content-center">
  <div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h3 class="pt-5"><span class="first-letter">N</span>orth Division</h3>
      <table class="table table-striped">
        <thead style="color: white; background-color: #003369;">
          <tr>
            <th scope="col">Id#</th>
            <th scope="col">Team Name</th>
            <th scope="col">Conference</th>
            <th scope="col">Division</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of north;">
            <th scope="row">{{ team.id }}</th>
            <td>{{ team.name }} <strong>{{ team.nickname }}</strong></td>
            <td>{{ team.conference }}</td>
            <td>{{ team.division }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h3 class="pt-5"><span class="first-letter">S</span>outh Division</h3>
      <table class="table table-striped pt-3">
        <thead style="color: white; background-color: #003369;">
          <tr>
            <th scope="col">Id#</th>
            <th scope="col">Team Name</th>
            <th scope="col">Conference</th>
            <th scope="col">Division</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of south"s>
            <th scope="row">{{ team.id }}</th>
            <td>{{ team.name }} <strong>{{ team.nickname }}</strong></td>
            <td>{{ team.conference }}</td>
            <td>{{ team.division }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h3 class="pt-5"><span class="first-letter">E</span>ast Division</h3>
      <table class="table table-striped pt-3">
        <thead style="color: white; background-color: #003369;">
          <tr>
            <th scope="col">Id#</th>
            <th scope="col">Team Name</th>
            <th scope="col">Conference</th>
            <th scope="col">Division</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of east">
            <th scope="row">{{ team.id }}</th>
            <td>{{ team.name }} <strong>{{ team.nickname }}</strong></td>
            <td>{{ team.conference }}</td>
            <td>{{ team.division }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h3 class="pt-5"><span class="first-letter">W</span>est Division</h3>
      <table class="table table-striped">
        <thead style="color: white; background-color: #003369;">
          <tr>
            <th scope="col">Id#</th>
            <th scope="col">Team Name</th>
            <th scope="col">Conference</th>
            <th scope="col">Division</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of west">
            <th scope="row">{{ team.id }}</th>
            <td>{{ team.name }} <strong>{{ team.nickname }}</strong></td>
            <td>{{ team.conference }}</td>
            <td>{{ team.division }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>