<div style="background-color: #151515" class="container-fluid text-center pt-5 pb-3">
  <div class="row justify-content-center">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h5 class="contact1 pt-4 pb-2">Contact ACME</h5>
      <h4 class="contact2">Do you want to contact us?</h4>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-9 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h6 class="pb-3 contact3 text-center">
        If you have any questions or you want to contact us, send us an email and we will return
        to you as soon as possible.
      </h6>
    </div>
  </div>

  <div class="pt-5 row">
    <div class="pb-5 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <i class="pb-4 fas fa-map-marker-alt fa-3x text-white"></i>
      <p class="icons-name">ADDRESS</p>
      <h6 style="color: #5c5c5c">Halifax, Nova Scotia - Canada</h6>
    </div>
    <div class="pb-5 col-xl-4 col-lg-4 col-md-4 col-sm-5 col-xs-12">
      <i class="pb-4 far fa-paper-plane fa-3x text-white"></i>
      <p class="icons-name">E-MAIL</p>
      <a id="email" href="mailto:monte.andre@outlook.com" class="email-end">
        <h6>monte.andre@outlook.com</h6>
      </a>
    </div>
    <div class="pb-2 col-xl-4 col-lg-4 col-md-4 col-sm-3 col-xs-12">
      <i class="pb-4 fas fa-phone fa-3x text-white"></i>
      <p class="icons-name">CELL</p>
      <h6 style="color:#5c5c5c">+1(647)573-2912</h6>
    </div>
  </div>
</div>

<div style="background-color: #003369;" class="container-fluid">
  <div class="clearfix row justify-content-center">
    <div class="px-5 col-xl-6 col-lg-6 col-md-7 col-sm-7 col-xs-12">
      <div class="py-3 page-footer font-small blue">
        <div style="color: rgb(208, 196, 196);" class="text-center">© 2019 Copyright:
          <a style="color: rgb(208, 196, 196);" href="http://www.acmesports.com.br"> ACME Sports</a><br>
        </div>
      </div>
    </div>
  </div>
</div>
