<!-- <app-data-table>
</app-data-table> -->


<!-- <table class="table table-striped table-bordered table-hover table-condensed"></table> -->


<div style="background-color: #EEEEEE;" class="container-fluid py-5">
  <div class="row justify-content-center table-condensed">
    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <h2 class="pt-2 pb-5" style="text-align: center"><img src="../../assets/images/NFL.png" width="50" height="55"> National Football League</h2>
      <table class="pb-5 table table-striped table-bordered">
        <thead style="color: white; background-color: #003369;">
          <tr>
            <th scope="col">Id#</th>
            <th scope="col"(click)="sortByName()">Team Name</th>
            <th scope="col"><a href="../conference" title="sort by division">Conference</a></th>
            <th scope="col">Division</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teams; let i = index">
            <th scope="row">{{ team.id }}</th>
            <td>{{ team.name }} <strong>{{ team.nickname }}</strong></td>
            <td>{{ team.conference }}</td>
            <td>{{ team.division }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
