<div class="container-fluid p-0 m-0">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="image">
        <div class="p-3">
          <img src="../../assets/images/NFL.png" width="150" height="180">
        </div>
        <div class="image-over-lay"></div>
      </div>
    </div>
        <!-- SOCIAL BAR STARTS-->
        <div class="icon-bar">
            <div class="facebook mb-1">
              <a href="https://www.facebook.com/dedemachado"
                ><i class="fab fa-facebook fa-2x"></i
              ></a>
            </div>
            <div class="email mb-1">
              <a href="mailto: monte.andre@outlook.com"
                ><i class="far fa-envelope fa-2x"></i
              ></a>
            </div>
            <div class="instagram mb-1">
              <a href="https://www.instagram.com/dedemachado/"
                ><i class="fab fa-instagram fa-2x"></i
              ></a>
            </div>
          </div>
          <!-- SOCIAL BAR ENDS-->
  </div>
</div>

